<!DOCTYPE html>
<html>
<head>
    <title>Weather API App</title>
</head>
<body>
    <h1>Weather API App</h1>
    <form method="post">
        <label for="choice">Select an option:</label>
        <select name="choice" id="choice">
            <option value="1">Get weather</option>
            <option value="2">Get Wind Speed</option>
            <option value="3">Get Pressure</option>
            <option value="0">Exit</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
